/* styles.css */
/* Авторы: Ермилов В.В., Файбисович В.А. */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url("/static/background.jpg") center/cover no-repeat;
    overflow: hidden;
}

.header {
    background-color: #007BFF;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer {
    background-color: #007BFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 10px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .contact-info,
.footer .copyright,
.footer .email {
    font-size: 12px;
    margin-bottom: 5px;
    align-self: center;
}

.logo {
    height: 30px;
    margin-left: 10px;
}

.chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    position: relative;

}

.main-container {
    flex: 1 0 auto;
    display: flex;
    overflow: hidden;
    padding-bottom: 75px;
}



/* #pdf-container {
    flex: 0 0 50%;
    width: 100%;
    display: none;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in forwards;
}

#pdf-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #f0f0f0;
    padding: 0 10px;
}

#prev-page, #next-page {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

#prev-page:hover, #next-page:hover {
    background-color: #0056b3;
}

#page-num, #page-count {
    margin: 0 5px;
}

#pdf-viewer {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    margin: 0;
    overflow: auto;
    transform: scale(1);
    transform-origin: top right;
    animation: fadeIn 0.5s ease-in forwards;
} */



#pdf-container {
    flex: 0 0 50%; 
    width: 100%;
    display: none; 
    overflow: hidden;
    animation: fadeIn 0.5s ease-in forwards;
}

#pdf-viewer {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    transform: scale(1);
    transform-origin: top right;
    animation: fadeIn 0.5s ease-in forwards;
}



.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 95%;
    max-width: 800px;
    margin-top: 20px auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    
}


.pdf-page-button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-in forwards; /* Объединяем анимации */
    background: #0f32a8 !important; /* Изменено на background */
    
}

.pdf-page-button:hover {
    background: #050d55 !important;
    
}




.toggle-button {
    margin: 0 10px;
    padding: 10px;
    background: linear-gradient(270deg, #a12ccf, #007BFF);
    background-size: 200% 200%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: rotateGradient 5s ease infinite; /* Добавляем анимацию */
}

.toggle-button:hover {
    background: linear-gradient(270deg, #9f08a2, #0b1de6);
    background-size: 200% 200%;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.send-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}

.chat-box {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: calc(100vh - 220px);
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    margin-bottom: 20px;
    position: absolute;
    bottom: 55px;
}

.chat-box::-webkit-scrollbar {
    width: 12px;
}

.chat-box::-webkit-scrollbar-track {
    background: transparent;
}

.chat-box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message {
    margin: 10px 0;
    line-height: 1.4;
    display: flex;
    align-items: center;
    max-width: 80%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.user-message {
    background-color: #007BFF;
    color: white;
    justify-content: flex-end;
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
}

.bot-message {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    justify-content: flex-start;
    align-self: flex-start;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    position: relative;
    text-align: justify;
}

.loading-message {
    text-align: center;
    color: #888;
}

.message img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user-message img {
    margin-left: 10px;
    order: 1;
}

.fade-in {
    opacity: 1;
}

.slide-in {
    transform: translateY(0);
}

.bot-message p {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    margin-right: 10px;
}

.bot-message a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.bot-message a:hover {
    text-decoration: underline;
}

.link-button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-in forwards;
}

.fork-button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-in forwards;
}

.link-button {
    background-color: #a12ccf !important;
}

.fork-button {
    background-color: #154fee !important;
}

.link-button:hover {
    background-color: #9e2fa5 !important;
}

.fork-button:hover {
    background-color: #070ab1 !important;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5px;
}

.feedback-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-left: 20px;
    margin-right: -60px;
    flex-direction: column;
    bottom: 0;
    right: 0;
    gap: 10px;
}

.feedback-button {
    background-color: #b9141400;
    border: none;
    cursor: pointer;
}

.feedback-button img {
    width: 26px;
    height: 26px;
}

.feedback-button.disabled {
    pointer-events: none;
    opacity: 0.9;
}

.show-more-container {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background: linear-gradient(to right, #4130f9, #c703f9);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(20px);
}


.show-more-container:hover {
    background: linear-gradient(to right, #450368, #2d1bec);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show-more-container {
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: 0.25s; /* Задержка перед началом анимации */
}

.suggestion-button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    opacity: 1;
    transform: translateY(10px);
    transition: transform 0.3s;
}

.suggestion-button:hover {
    background-color: #0b77eb;
}

.suggestion-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: fixed;
    bottom: 55px;
    left: 0;
    transform: translateX(-50%);
    z-index: 1002;
    background-color: transparent;
    border: none;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    opacity: 1;
    transform: translateY(10px);
    transition: transform 0.3s;
}

.suggestion-box.show {
    transform: translateY(0);
}

.chat-button {
    display: inline-block;
    margin: 5px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.chat-button:hover {
    background-color: #45a049;
}

#buttons-container {
    margin-top: 10px;
}

.initial-questions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5px;
}

.initial-question-btn {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #a12ccf;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    animation: fadeInUp 0.8s ease forwards;
    opacity: 0;
    transform: translateY(20px);
}

.initial-question-btn:hover {
    background-color: #9e2fa5;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Медиа-запросы для адаптивности под смартфоны */
@media (max-width: 1200px) {
    .header {
        height: 40px;
    }

    .footer {
        display: none !important;
    }


    .logo {
        height: 25px;
        margin-left: 5px;
    }

    .chat-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main-container {
        flex: 1;
        display: flex;
        overflow: hidden;
    }
    
    

    .input-container {
        padding: 5px;
        bottom: 5px;
        width: calc(100% - 20px); /* Убираем горизонтальный скролл */
        
    }

    .toggle-button {
        display: none !important;
        margin: 0 5px;
        padding: 5px;
    }

    .input-field {
        padding: 5px;
        margin-right: 5px;
        width: 100%; /* Убедитесь, что поле ввода занимает всю доступную ширину */
        height: 30px !important;
    }

    .send-button {
        padding: 5px;
        height: 40px !important;
    }

    .chat-box {
        max-width: 100% !important; /* Ограничиваем ширину чат-бокса */
        width: 100% !important;
        max-height: calc(100vh - 180px);
        padding: 15px !important;
        box-sizing: border-box !important;
        overflow-x: hidden !important; /* Скрываем горизонтальный скролл */
    }

    .message {
        max-width: 90%;
        word-wrap: break-word; /* Перенос слов для предотвращения выхода за пределы контейнера */
    }

    .user-message,
    .bot-message {
        padding: 5px;
        max-width: 100%; /* Убедитесь, что сообщения не выходят за пределы контейнера */
        word-wrap: break-word; /* Перенос слов для предотвращения выхода за пределы контейнера */
    }

    .bot-message p {
        font-size: 12px;
    }

    .link-button,
    .show-more-container,
    .suggestion-button {
        margin: 3px;
        padding: 3px 8px;
        font-size: 16px !important;
        
    }

    .suggestion-box {
        max-height: 150px; /* Ограничиваем высоту контейнера с предложениями */
        overflow-y: hidden !important; /* Добавляем вертикальный скролл, если контент не помещается */
        overflow-x: hidden !important; /* Убираем горизонтальный скролл */
    }

    .feedback-button img {
        width: 20px;
        height: 20px;
    }

    .chat-box::-webkit-scrollbar {
        width: 8px; /* Уменьшаем ширину вертикального скроллбара */
    }

    .chat-box::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    .chat-box::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .feedback-container,
    .feedback-button {
        display: none !important;
    }
    .pdf-page-button {
        display: none;
    }
}
/* Стили для блокировки горизонтальной ориентации */