<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИнфоКомпас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='image.png') }}" alt="Логотип ЦБ РФ" class="logo">
    </div>
    <div class="chat-container">  
        <div class="instruction-tile" id="instruction-tile">
            <a href="https://www.cbr.ru/Content/Document/File/85699/instruction.pdf" target="_blank">
                <img src="{{ url_for('static', filename='instruction.png') }}" alt="Инструкция" class="instruction-image">
                <span>Руководство пользователя</span>
            </a>
        </div>
        <div class="chat-box" id="chat-box">
            <!-- Здесь будет отображаться диалог -->
        </div>
        <div class="input-container">
            <div id="suggestion-box" class="suggestion-box"></div>
            <input type="text" class="input-field" id="input-field" placeholder="Введите ваш запрос...">
            <button class="send-button" id="send-button">Отправить</button>
            <button id="toggle-instruction" class="toggle-button">Показать руководство</button>
        </div>
    </div>
    <div class="footer">
        <div class="contact-info">
            <div>Управление развития электронного взаимодействия</div>
        </div>    
        <div class="email">
            <div>lk_uio@cbr.ru</div>
        </div>
        <div class="copyright">© 2024 Внешний портал Банка России 2000 - 2024</div>
    </div>

    <script>
        const chatBox = document.getElementById('chat-box');
        const inputField = document.getElementById('input-field');
        const sendButton = document.getElementById('send-button');
        const suggestionBox = document.getElementById('suggestion-box');
        const instructionTile = document.getElementById('instruction-tile');
        const toggleInstructionButton = document.getElementById('toggle-instruction');

        let lastQuestion = '';
        let previousAnswers = [];
        let suggestions = [];

        // Приветствие при запуске
        function showWelcomeMessage() {
            const welcomeMessage = "Привет! Я ИнфоКомпас, ваш виртуальный помощник. Чем могу помочь?";
            prependMessage(welcomeMessage, 'bot-message', '{{ url_for('static', filename='bot_icon.png') }}');
            
            // Создаем контейнер для кнопок с начальными вопросами
            const buttonsContainer = document.createElement('div');
            buttonsContainer.classList.add('initial-questions-container');
            
            // Добавляем кнопки с начальными вопросами
            {{ initial_questions | tojson }}.forEach(question => {
                const button = document.createElement('button');
                button.textContent = question;
                button.classList.add('initial-question-btn');
                button.addEventListener('click', () => {
                    inputField.value = question;
                    sendMessage();
                });
                buttonsContainer.appendChild(button);
            });
            
            // Добавляем контейнер с кнопками в начало чат-бокса
            chatBox.insertBefore(buttonsContainer, chatBox.firstChild);
        }
    
        // Вызываем функцию приветствия при загрузке страницы
        showWelcomeMessage();
        // Загрузка предложений для автодополнения
        async function loadSuggestions() {
            const response = await fetch('/load_suggestions');
            const data = await response.json();
            suggestions = data.suggestions;
        }

        // Отображение автодополнения
        function showSuggestion(query) {
            suggestionBox.innerHTML = '';
            if (query.length > 0) {
                const matchedSuggestion = suggestions.find(suggestion => suggestion.toLowerCase().includes(query.toLowerCase()));
                if (matchedSuggestion) {
                    const suggestionButton = document.createElement('button');
                    suggestionButton.textContent = matchedSuggestion;
                    suggestionButton.classList.add('suggestion-button');
                    suggestionButton.addEventListener('click', () => {
                        inputField.value = matchedSuggestion;
                        suggestionBox.innerHTML = '';
                        suggestionBox.classList.remove('show');
                    });
                    suggestionBox.appendChild(suggestionButton);
                    suggestionBox.classList.add('show');
                } else {
                    suggestionBox.classList.remove('show');
                }
            } else {
                suggestionBox.classList.remove('show');
            }
        }

        inputField.addEventListener('input', () => showSuggestion(inputField.value));

        sendButton.addEventListener('click', sendMessage);

        inputField.addEventListener('keypress', (event) => {
            if (event.key === 'Enter') sendMessage();
        });

        toggleInstructionButton.addEventListener('click', () => {
            instructionTile.style.display = instructionTile.style.display === 'none' || instructionTile.style.display === '' ? 'flex' : 'none';
            toggleInstructionButton.textContent = instructionTile.style.display === 'none' ? 'Показать руководство' : 'Скрыть руководство';
        });

        async function sendMessage() {
            const userMessage = inputField.value.trim();
            if (userMessage !== '') {
                lastQuestion = userMessage;
                prependMessage(userMessage, 'user-message', '{{ url_for('static', filename='user_icon.png') }}');
                inputField.value = '';
                suggestionBox.innerHTML = '';

                const loadingMessage = prependMessage('Генерация ответа...', 'loading-message');

                try {
                    const response = await fetch('/chat', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ question: userMessage, previous_answers: previousAnswers })
                    });

                    const data = await response.json();
                    loadingMessage.remove();

                    const messageElement = prependMessage(data.answer, 'bot-message', '{{ url_for('static', filename='bot_icon.png') }}', data.images, data.pdf_page);

                    clearLinksContainer();

                    if (data.links && data.links.length > 0) {
                        const newLinksContainer = createLinksContainer(data.links);
                        chatBox.insertBefore(newLinksContainer, chatBox.firstChild);
                        setTimeout(scrollToBottom, 100);
                    }

                    if (data.feedback && !isGreeting(userMessage)) {
                        previousAnswers.push(data.answer);
                        addFeedbackButtons(messageElement, userMessage, data.answer);
                    } else {
                        previousAnswers = [];
                    }
                } catch (error) {
                    console.error("Error sending message:", error);
                    loadingMessage.remove();
                    prependMessage("Произошла ошибка при генерации ответа. Пожалуйста, попробуйте позже.", 'bot-message', '{{ url_for('static', filename='bot_icon.png') }}');
                }
            }
        }

        function createLinkButton(link) {
            const linkButton = document.createElement('a');
            linkButton.href = '#';
            linkButton.textContent = link.question.replace('?', '').trim();
            linkButton.target = '_blank';
            linkButton.classList.add('link-button', 'fade-in');
        
            const handleClick = async (event) => {
                event.preventDefault();
                console.log('Button clicked');
        
                // Отправка вопроса на сервер
                await sendLinkQuestion(link.question, link.url);
        
                // Открытие ссылки в новой вкладке через форму
                const form = document.createElement('form');
                form.method = 'GET';
                form.action = link.url;
                form.target = '_blank';
                document.body.appendChild(form);
                form.submit();
                document.body.removeChild(form);
        
                // Удаление обработчика события после выполнения
                linkButton.removeEventListener('click', handleClick);
            };
        
            linkButton.addEventListener('click', handleClick, { once: true });
        
            return linkButton;
        }

        function createLinksContainer(links) {
            const newLinksContainer = document.createElement('div');
            newLinksContainer.classList.add('links-container', 'fade-in');

            const visibleLinks = links.slice(0, 5);
            const hiddenLinks = links.slice(5);

            visibleLinks.forEach(link => newLinksContainer.appendChild(createLinkButton(link)));

            if (hiddenLinks.length > 0) {
                const showMoreContainer = document.createElement('div');
                showMoreContainer.classList.add('show-more-container', 'fade-in');
                showMoreContainer.textContent = `Показать больше (${hiddenLinks.length})`;
                showMoreContainer.addEventListener('click', () => {
                    hiddenLinks.forEach(link => newLinksContainer.appendChild(createLinkButton(link)));
                    showMoreContainer.remove();
                });
                newLinksContainer.appendChild(showMoreContainer);
            }

            return newLinksContainer;
        }

        function clearLinksContainer() {
            const linksContainer = document.querySelector('.links-container');
            if (linksContainer) linksContainer.remove();
        }

        function addFeedbackButtons(messageElement, question, answer) {
            const feedbackContainer = document.createElement('div');
            feedbackContainer.classList.add('feedback-container');

            const likeButton = createFeedbackButton('like', '{{ url_for('static', filename='like_1.png') }}', '{{ url_for('static', filename='like_2.png') }}');
            const dislikeButton = createFeedbackButton('dislike', '{{ url_for('static', filename='dislike_1.png') }}', '{{ url_for('static', filename='dislike_2.png') }}');

            feedbackContainer.appendChild(likeButton);
            feedbackContainer.appendChild(dislikeButton);
            messageElement.appendChild(feedbackContainer);

            removeOldFeedbackButtons();
        }

        function createFeedbackButton(feedbackType, initialImage, activeImage) {
            const button = document.createElement('button');
            button.classList.add('feedback-button', `${feedbackType}-button`);
            const image = document.createElement('img');
            image.src = initialImage;
            button.appendChild(image);
            button.addEventListener('click', () => {
                image.src = activeImage;
                button.classList.add('disabled');
                document.querySelector(`.${feedbackType === 'like' ? 'dislike' : 'like'}-button`).classList.add('disabled');
                sendFeedback(button.parentElement.parentElement, feedbackType);
            });
            return button;
        }

        function removeOldFeedbackButtons() {
            const messages = chatBox.querySelectorAll('.message');
            messages.forEach((msg, index) => {
                if (index !== 0 && msg.classList.contains('bot-message')) {
                    const feedbackContainer = msg.querySelector('.feedback-container');
                    if (feedbackContainer) feedbackContainer.remove();
                }
            });
        }

        async function sendLinkQuestion(question, url) {
            if (question !== '') {
                lastQuestion = question;
                prependMessage(question, 'user-message', '{{ url_for('static', filename='user_icon.png') }}');
        
                const loadingMessage = prependMessage('Генерация ответа...', 'loading-message');
        
                try {
                    const response = await fetch('/chat', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ question, previous_answers: previousAnswers })
                    });
        
                    const data = await response.json();
                    loadingMessage.remove();
        
                    const messageElement = prependMessage(data.answer, 'bot-message', '{{ url_for('static', filename='bot_icon.png') }}', data.images, data.pdf_page);
        
                    clearLinksContainer();
        
                    if (data.links && data.links.length > 0) {
                        const newLinksContainer = createLinksContainer(data.links);
                        chatBox.insertBefore(newLinksContainer, chatBox.firstChild);
                        setTimeout(scrollToBottom, 100);
                    } else {
                        const noLinkContainer = document.createElement('div');
                        noLinkContainer.classList.add('links-container', 'fade-in');
                        noLinkContainer.appendChild(createLinkButton({ question, url: '' }));
                        chatBox.insertBefore(noLinkContainer, chatBox.firstChild);
                        setTimeout(scrollToBottom, 100);
                    }
        
                    if (data.feedback && !isGreeting(question)) {
                        previousAnswers.push(data.answer);
                        addFeedbackButtons(messageElement, question, data.answer);
                    } else {
                        previousAnswers = [];
                    }
                } catch (error) {
                    console.error("Error sending link question:", error);
                    loadingMessage.remove();
                    prependMessage("Произошла ошибка при генерации ответа. Пожалуйста, попробуйте позже.", 'bot-message', '{{ url_for('static', filename='bot_icon.png') }}');
                }
            }
        }

        function prependMessage(message, className, icon, images = [], pdfPage = null) {
            message = message.replace(/_x000D_/g, '');

            const messageElement = document.createElement('div');
            messageElement.classList.add('message', className);
            messageElement.setAttribute('data-feedback-sent', 'false');

            if (icon) {
                const iconElement = document.createElement('img');
                iconElement.src = icon;
                messageElement.appendChild(iconElement);
            }

            const messageContent = document.createElement('div');
            messageContent.innerHTML = message;
            messageElement.appendChild(messageContent);

            if (pdfPage) {
                const pageLink = document.createElement('a');
                pageLink.href = `{{ url_for('download_pdf') }}#page=${pdfPage}`;
                pageLink.textContent = `Страница ${pdfPage}`;
                pageLink.target = '_blank';
                messageElement.appendChild(pageLink);
            }

            chatBox.insertBefore(messageElement, chatBox.firstChild);
            setTimeout(() => messageElement.classList.add('fade-in', 'slide-in'), 100);
            setTimeout(scrollToBottom, 100);
            return messageElement;
        }

        function isGreeting(userMessage) {
            const greetings = ["привет", "здравствуй", "добрый день", "как дела", "погода", "возможности", "ты кто"];
            return greetings.some(greeting => userMessage.toLowerCase().includes(greeting));
        }

        function scrollToBottom() {
            chatBox.scrollTop = chatBox.scrollHeight;
        }

        async function sendFeedback(messageElement, feedbackType) {
            if (messageElement.getAttribute('data-feedback-sent') === 'true') return;

            const feedback = { question: lastQuestion, answer: messageElement.textContent };
            try {
                const response = await fetch(`/${feedbackType}`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ question: feedback.question, answer: feedback.answer })
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    console.error(`Error sending ${feedbackType} feedback:`, errorData);
                } else {
                    console.log(`${feedbackType} feedback sent successfully`);
                    messageElement.setAttribute('data-feedback-sent', 'true');
                }
            } catch (error) {
                console.error(`Error sending ${feedbackType} feedback:`, error);
            }
        }

        loadSuggestions();
    </script>
</body>
</html>